.sum.icon{
    background-image:url(../../images/summary.png);
}

.getScoreFormula.icon{
    background-image:url(../../images/grade.png);
}

.showResult .result {
    margin: 30px auto;
    max-width: 1000px;
    width: 100%;
}

div.remove{
    width:20px;
    height:20px; 
    background:url('https://app.keysurvey.com/User/28/769928/media/69/136869.png');
    display:inline-block;
    background-repeat:no-repeat;
    background-size:15px;
    background-position:50%;
}

.displayIdentifiers.icon:empty {
    display: none;
}

.aDivEntireQuestion {
    position:relative;
}

.addHTMLTable {
    width: 50px;
    height: 50px;
    background: url(https://app.form.com/User/08/816008/media/77/196677.png) !important;
    background-size:contain !important;margin-left:10px;
}
    
div#tableOutputText {
    background: white;
    padding: 10px;
    margin: 20px;
    border: 1px dashed #6969c6;
    border-radius: 15px;
}

.buildtools .icon {
    background-size: 20px !important;
    display:inline-block;
    height:25px;
    width:fit-content;
    min-width:30px;
    text-align:center;
    border-right:1px solid;
    margin:0;
    padding:0 5px;
    font-size:14px;
    vertical-align: top;
    background-repeat:no-repeat !important;
    background-position:50% !important;
    line-height:25px !important;
}

.buildtools{
    height: 25px;
    width: fit-content;
    min-width: 10px;
    position: absolute;
    border:1px solid black !important;
    right: 0;
}

.displayIdentifiers.icon {
    background:#d4d6ec;
}

.displayQID.icon {
    background:#f5d9d9;
}

div.icon.random{
    background: url(https://app.form.com/User/08/816008/media/83/196683.png);
    background-size: contain;
}

#buildtoolsMain{
    z-index: 999999 !important;
    top: 0;
    right: 0;
    position: absolute;
    background: white;
}

.showResult {
    display: block !important;
    z-index: 99999;
    position: relative;
    background: white;
    border: 1px solid black;
    text-align:center;
}

.close {
    height: 30px;
    background: grey;
    margin-top: 10px;
    line-height: 30px;
    color: white;
    font-weight: bold;
}

.close:hover {
    background: brown;
}

.sameKind.icon {
    background: url(https://app.form.com/User/55/578055/media/89/197189.png)
}

.sumtable.icon {
    background: url(https://app.form.com/User/55/578055/media/91/197191.png)
}